
@media (max-width: 1600px){
	.intro .countdown-sep {
	    margin-right: 35px;
	    margin-left: 50px;
	}

	.invested-bg {
	    position: absolute;
		top: -180px;
	    z-index: 1;
	    width: 100%;
	}

	.components .image .ipad-2{
	    width: 600px;
	}

	#monetization .item-body {
	    margin-bottom: -1px;
	}
}

@media (max-width: 1366px){
	.menu ul li {
	    display: inline-block;
	    padding: 60px 15px;
	    color: white;
	    font-size: 24px;
	}

	.intro .countdown-sep {
	    font-size: 102px;
	    font-weight: 300;
	    margin-right: 20px;
	    margin-left: 40px;
	    color: #FE8C1A;
	}

	.intro-header {
	    font-size: 60px;
	}

	.mission-list {
	    margin-top: 20px;
	    margin-right: 40px;
	    font-size: 23px;
	    width: auto;
	    float: none;
	}

	.mission-list ul {
	    width: auto;
	}

	.right-block {
	    margin-top: 250px;
	}

	.token-trader .mission-list{
		padding-left: 10%;
	}

	.mission-list ul {
	    padding-left: 10%;
	}

	.monetization .subscribe{
	    padding-bottom: 0;
	    margin-top: -400px;
	}

	.deset{
		margin-left: 33.33333333%;
	}
	.paper-block .download-rus a {
		display: flex;
	}
	.paper-block .download-eng a {
		display: flex;
	}
	.paper-block .download-eng {
		padding-right: 70px;
		margin-right: 70px;
	}
	.paper-block .white-papper {
		padding-bottom: 80px;
	}

	.inner-documents .item-body img {
		padding-top: 15px;
		height: 100%;
	}
	.inner-documents .item-body h4 {
		font-size: 27px;
	}
}

@media (max-width: 1200px){
	.menu ul li {
	    display: inline-block;
	    padding: 60px 10px;
	    color: white;
	    font-size: 20px;
	}

	.countdown-block span {
	    text-align: center;
	}

	.intro .countdown-block-main, .intro .countdown-sep {
	    font-size: 90px;
	}

	.intro .countdown-sep {
	    margin-right: 10px;
	    margin-left: 20px;
	}

	.intro-header {
	    font-size: 60px;
	}

	.inner-intro {
	    text-align: center;
	}

	.intro-header{
		white-space: normal;
		font-size: 55px;
		line-height: 70px;
	}

	.inner-intro {
	    width: 50%;
	}

	.intro .countdown-center {
	    margin-left: 0px;
	    margin-top: 40px;
	}

	.invested-bg {
		top: -80px;
	}

	.intro-bg {
	    height: 820px;
	}

	.our-mission-title {
	    padding-left: 0;
	}

	.mission-list li {
	    font-size: 20px;
	}

	.right-block {
	    margin-top: 150px;
	}

	.paper-block {
	    width: 60%;
	}

	.token-bg {
	    height: 150%;
	}

	.token-trader {
	    height: auto;
	}

	.inner-ico.first {
	    top: 0;
	}

	.ico-structure-bg {
	    top: 0;
	}

	.mission-list ul {
	    padding-bottom: 50px;
	}



	.ico-structure {
	    padding-top: 50px;
	}

	.inner-ico.second .row {
	    padding-top: 200px;
	}

	.platform-title {
	    font-size: 40px;
	}

	.monetization-title.platform-title {
	    white-space: normal;
	    line-height: 50px;
	}

	.buy-platform .inner-trader .platform-title {
	    margin: 100px auto 100px auto;
	}

	.components .our-mission-title {
	    padding-top: 100px;
	    white-space: normal;
	}

	.monetization .inner-platform.second {
	    top: -350px;
	}

	.monetization .subscribe {
	    margin-top: -600px;
	}

	#monetization .item-body {
	    margin-bottom: -1px;
	}
<<<<<<< HEAD
	.inner-documents .item-body h4 {
		font-size: 26px;
	}
	.inner-documents .item-body {
		padding: 60px 50px 80px 50px;
	}
=======

	.inner-intro {
	    padding-top: 80px;
	}



>>>>>>> 2b29024f0a06917dfa49f282c1d6cada9f0fed24
}

@media (max-width: 991px){
	.menu ul li {
	    display: inline-block;
    	padding: 20px 10px;
	    color: white;
	    font-size: 24px;
	}

	.menu ul {
    	flex-direction: column;
    	text-align: center;
    	padding-top: 40px;
	}

	.menu li:first-child {
    	padding-left: 0;
	}

	.menu li.item-five,
	.menu li.item-six,
	.menu li.item-seven,
	.menu li.item-eight
	 {
    	padding-right: 0;
    	padding-left: 0;
	}

	.menu{
		height: 100vh;
		overflow: scroll;
	}

	.inner-intro {
	    width: 60%;
	}

	.invested-bg {
		top: -70px;
	}

	.invested-item-value-2,
	.invested-item-name-2,
	.invested-item-name,
	.invested-item-value{
	    font-size: 30px;
	    padding-right: 20px;
	}

	.invested-bg {
	    height: 145%;
	}

	.platform-title,.our-mission-title{
	    width: 700px;
	    font-size: 40px;
	}

	.platform {
	     padding-top: 20px; 
	}

	.inner-platform.two {
	    padding-top: 200px;
	}

	.mission-list li {
	    font-size: 20px;
	}

	.our-mission-title {
	    color: #212f4f;
	}

	.platform-bg {
	    top: -520px;
	}

	.advantages-bg {
	    top: -240px;
    	height: 3500px;
	}

	.advantages-investors-content ul li {
	    font-size: 20px;
	}

	.mission-list li {
		font-size: 27px;
	}
	.benefits-subscribe .mission-list ul {
		text-align: center;
	}
	.advantages {
	    padding: 10px 0 0 0;
	}

	.right-block {
	    margin-top: 250px;
	}

	.demand-tokens-box {
		padding: 15px 20%;
	}

	.inner-tokens {
	    position: relative;
	    z-index: 3;
	    padding-top: 5px;
	}

	.paper-block {
	    width: 70%;
	}
	.inner-documents .item-body img {
		width: 130px;
		padding-top: 0;
	}
	.inner-documents .item-body {
		margin-bottom: 30px;
	}
	.subscribe {
		margin-top: 80px;
	}
	.documents{
		background: #212f4f;
	}.documents {
    position: relative;
    padding-top: 250px;
    height: 2835px;
}

	#documents {
	    background: #212f4f;
	}


	.documetns-title,.subscribe-title{
	    color: #ffffff;
	    width: 600px;
	}

	.subscribe-field{
		width: 80%;
    	margin: 0 auto;
    	margin-top: 40px;
	}

	.token-bg {
    	height: 205%;
	}

	.inner-platform .row{
		flex-wrap: wrap;
	}

	.token-trader .inner-platform .image {
	     padding-right: 0; 
	}

	.token-trader .mission-list{
		padding-left: 0;
	}

	.token-trader .mission-list ul {
	    margin-right: 10%;
	}

	.ico-structure-description{
		text-align: center;
	}

	.ico-structure-text {
	     padding-right: 0; 
	}

	.ico-structure-bg {
	    height: 170%;
	}

	.second-block .ico-structure-text {
	    padding-left: 0;
	    padding-bottom: 100px;
	}

	.monetization-bg {
	    top: 0;
	}

	.second-page-body .token-bg{
    	display: none;
	}

	.second-page-body .token-trader{
    	background: #fe8c1a;
	}

	.second-page-body .monetization-bg {
		display: none;
	}

	.second-page-body .monetization{
		background: #fe8c1a;
		z-index: 2;
	}

	.second-page-body .total-invested.second-page {
	    background: #fe8c1a;
	}

	.second-page-body  .ico-structure {
	    height: auto;
	    background: #fe8c1a;
	}

	.second-page-body .ico-structure-bg{
		display: none;
	}

	.monetization .inner-platform.second{
		    background: #fe8c1a;
	}

	.ico-structure .inner-ico.second .row {
	    padding-top: 0;
	}

	.monetization .monetization-title {
	    margin: -1px auto 50px auto;
	}

	.monetization .inner-platform.second {
	    padding-bottom: 0;
	}

	.advantages-users-title {
	    text-align: center;
	    width: 100%;
	    padding-left: 40px;
	}

	.monetization .advantages-list ul {
	    padding-left: 30px;
	}
	#monetization .item-body {
		margin-bottom: 30px;
	}
	.inner-documents .row.second {
		margin-top: 0!important;
	}
	.token-trader{
		top: -50px;
	}

	.third-page .total-invested{
		background: #fe8c1a;
	}

	.third-page .buy-platform{
		background: #fe8c1a;
	}

	.third-page .buy-platform .inner-trader .platform-title {
	    margin: 0px auto;
	}

	.components-bg{
		display: none;
	}

	.third-page .components{
		background: #fe8c1a;
	}

	.components .mission-list{
		width: 100%;
	    text-align: right;
	    padding: 0;
	}

	.components .mission-list li{
		font-size: 22px;
	}

	.components .our-mission-title{
		white-space: normal;
	}

	.components .mission-list-2 {
	    width: 100%;
	}

	.components .inner-platform .image {
		padding-right: 0;
	}

	.buy-platform {
	    height: 1000px;
	}

	.components .our-mission-title {
	     padding-top: 0; 
	}

	.third-page .advantages-platform{
		background: #fe8c1a;
	}

	.third-page .advantage-platform-bg{
		display: none;
	}

	.third-page #monetization{
		background: #fe8c1a;
	}

	.third-page  #monetization .documetns-title {
	    padding-left: 0;
	}

	.benefits-subscribe .subscribe{
	    padding-top: 40px;
	}

	.mission-list ul {
	    padding-left: 10%;
	    padding-right: 10%;
	    margin-right: 0;
	}

	.benefits-subscribe {
	    background: #fe8c1a;
	}

	.benefits-subscribe-bg{
		display: none;
	}

	.monetization .subscribe {
	    margin-top: -200px;
	    padding-bottom: 100px;
	}

	.second-page-body  .ico-structure{
		margin-top: -50px;
	}
<<<<<<< HEAD
	.mission-list p {
		padding-left: 40px;
		font-size: 28px;
	}
	.inner-platform .image img {
		width: 70%;
	}
	.deset {
		margin-left:0;
	}
=======

	.top-image img {
	    width: 100%;
	}





>>>>>>> 2b29024f0a06917dfa49f282c1d6cada9f0fed24

/*
	.all-main-page section{
	    background-color: #212F4F;
	}

	.ico-structure-bg,.monetization-bg{
		display: none;
	}*/
}

@media (max-width: 800px){
	.total-invested.second-page {
		height: 750px;
	}
	.inner-intro {
	    width: 80%;
	}

	.monetization .mission-list ul{
		padding: 0 0 50px 0;
	}

	.monetization .inner-platform .image{
		text-align: center;
		padding-right: 0;
	}

	.monetization-title.platform-title {
	    padding-bottom: 30px;
	}

	.invested-item-name {
	    padding-left: 20px;
	    font-size: 30px;
	}

	.invested-item-value {
	    font-size: 30px;
	}

	.invested-item-in,.invested-item-in-2 {
	    justify-content: center;
	}

	.total-invested .invested-item:nth-child(odd){
	    margin-left: 10%;
	}

	.total-invested .invested-item-2:nth-child(even){
	    margin-right: 10%;
	}

	.invested-item-value-2, .invested-item-name-2, .invested-item-name, .invested-item-value {
    	padding-right: 20px;
	    padding-left: 0px;
	}

	.invested-item img {
	    padding-left: 20px;
	}

	.invested-item,.invested-item-2{
	    height: 80px;
	}

	.invested-bg {
	    height: 131%;
	}

	.switch-btn {
	    width: 80%;
	}

	.platform-title,.our-mission-title{
	    width: 600px;
	    font-size: 30px;
	}

	.inner-platform.two .row{
		flex-wrap: wrap;
	}

	.mission-list {
	    margin-right: 0;
	    text-align: center;
	}

	.mission-list ul {
	    margin-right: 0;
	}

	.mission-list li {
	    text-shadow: 2px 2px 2px black;
	}

	.inner-platform.two {
	    padding-top: 50px;
	}

	.our-mission-title:after {
	    border-top: 3px solid #303d5b;
	}

	.platform-bg {
	    top: -520px;
	}

	.advantages-bg {
	    top: -240px;
    	height: 4100px;
	}

	.paper-block {
	    width: 80%;
	}

	.download-eng{
		padding-left: 20px;
	}

	.download-rus{
		padding-right: 20px;
	}

	.paper-block .download {
	    flex-direction: column;
	}

	.paper-block .download-eng{
		padding-right: 0;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.paper-block .download-rus{
		padding-right: 0;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
	}

	.paper-block .white-papper {
	    font-size: 40px;
	}

	.documetns-title,.subscribe-title{
	    color: #ffffff;
	    width: 500px;
	    font-size: 35px;
	}

	.team-image {
	    padding: 30px 15px;
	    padding-left: 20%;
	    padding-right: 20%;
	}

	.components .image .ipad-2 {
	    width: 100%;
	}

	.advantages-platform{
		height: auto;

	}

	.third-page #monetization{
		padding-top: 200px;
	}


}


@media (max-width: 600px){

	.platform-title{
		white-space: normal;
		line-height: 55px;
	}

	.intro-bg {
	    height: 800px;
	}

	.intro .countdown-block-main, .intro .countdown-sep {
	    font-size: 40px;
	}

	.intro .countdown-sep {
	    margin-right: 0;
	    margin-left: 0;
	}

	.inner-intro {
	    width: 90%;
	}

	.platform-title,.our-mission-title{
	    width: 400px;
	    font-size: 26px;
	}

	.platform-bg {
	    top: -450px;
		height: 2900px;
	}

	.platform-bg {
	    top: -640px;
	}

	.advantages-investors-title {
	    display: table;
	    white-space: nowrap;
	    color: #212F4F;
	    text-align: left;
	    font-size: 25px;
	    font-weight: bold;
	    margin-bottom: 40px;
	    margin-right: 20px;
	}

	.advantages-investors-content ul li {
	    font-size: 18px;
	}

	.wrapper-advantages-investors {
	    padding: 0px 20px;
	}

	.documetns-title,.subscribe-title{
	    color: #ffffff;
	    width: 400px;
	    font-size: 30px;
	    white-space: normal;
	    line-height: 40px;
	}

	.ico-structure-bg {
	    height: 180%;
	}

	.inner-ico.second .ico-structure-description {
	    padding-top: 120px;
	}

	.third-page #monetization{
		padding-top: 300px;
	}

	.token-trader .mission-list ul {
	    margin-right: 0;
	}

	.inner-ico.second .ico-structure-description {
	    padding-top: 100px;
	}

	.second-page-body .ico-structure {
	    margin-top: -50px;
	}

}

@media (max-width: 480px){
	.inner-intro {
	    width: 90%;
	}

	.countdown-block{
		width: 50px;
	}

	.countdown-block .countdown-block-main{
		width: 50px;
	}

	.intro-header {
	    font-size: 40px;
	}

	.intro-sub-header {
	    font-size: 30px;
	}

	.intro .countdown-span {
	    font-size: 16px;
	    color: #FE8C1A;
	    margin-top: 0px;
	}

	.buy-tokens{
		font-size: 20px;
	}

	.fone-hide{
		display: none;
	}

	.total-invested .invested-item:nth-child(odd) {
	    margin-left: 0%;
	}

	.total-invested .invested-item:nth-child(even) {
	    margin-right: 0%;
	}

	.invested-item img,.invested-item-2 img {
	    width: 120px;
	}

	.invested-item-value-2, .invested-item-name-2, .invested-item-name, .invested-item-value {
    	font-size: 20px;
    	padding-right: 10px;
	}

	.switch-btn {
	    width: 90%;
	}

	.switch-btn .btn {
	    width: 120px;
	    font-size: 20px;
	}

	.switch-btn .hard {
	    padding: 15px 20px;
	}

	.platform-title,.our-mission-title{
	    width: 300px;
	    font-size: 24px;
	    line-height: 50px;
	    white-space: normal;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.monetization .monetization-title {
		font-size: 18px;
	}

	.platform-title:before,.platform-title:after {
	    top: 45px;
	}

	.platform-title {
	    margin: 0;
	    width: 100%;
	    padding-bottom: 50px;
	}

	.inner-platform .row {
    	display: flex;
	    flex-wrap: wrap;
	}

	.accordion .panel-default {
	    margin-right: 50px;
	}

	.accordion .panel-title-child:active, .accordion .panel-title-child:link {
	    font-size: 18px;
	}

	.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
	    font-size: 18px;
	}

	.platform-bg {
	    height: 3600px;
	}

	.platform {
	    height: 2725px;
	}

	.advantages-bg {
		height: 4980px;
	}

	.advantages-investors-title{
		white-space: normal;
	}

	.advantages-users-content {
		padding: 0;
	}

	.advantages-investors-content ul li {
	    color: white;
	    text-shadow: 2px 2px 2px black;
	}

	.advantages-investors-content {
	    padding: 0 20% 0 40px;
	}

	.advantages-users-content ul li {
	    color: white;
	    text-shadow: 2px 2px 2px black;
	}

	.wrapper-title-advantages-users {
	    float: none;
	}

	.advantages-users-title {
	    font-size: 20px;
	    text-shadow: 2px 2px 2px black;
	}

	.advantages-users-title:before {
	    left: -10px;
	}

	.demand-tokens-box {
	    padding: 0px 10%;
	}

	.paper-block .white-papper {
	    font-size: 30px;
	}

	.documetns-title,.subscribe-title{
	    width: 250px;
	    font-size: 24px;
	    white-space: normal;
	    line-height: 40px;
	}

	.inner-documents .item-body {
	    padding: 70px 20px;
	}

	.subscribe-field{
		width: 100%;
    	margin: 0 auto;
    	margin-top: 40px;
	}

	.our-team h2 {
	    font-size: 40px;
	}

	.our-team h4 {
	    padding: 20px 30px 40px;
	}

	.advisors h2 {
	    font-size: 40px;
	}

	.ico-structure-bg {
	    height: 200%;
	}

	.ico-structure-image {
	    width: 300px;
	}

	.monetization .inner-platform.second {
	    padding-bottom: 0;
	}

	.monetization .advantages-list ul {
	    padding-left: 20px;
	}

	.monetization-title{
		width: 100%;
	}

	.monetization .subscribe {
		top: -100px;
	}

	.advantages-users-title{
		white-space: normal;
	}

	.structure-title {
	    width: 100%;
	}

	.advantages-platform .advantages-users-content ul li,.advantages-platform .advantages-users-title {
	    text-shadow: none;
	}

	.third-page #monetization{
		padding-top: 0;
		padding: 0;
	}

	.third-page .advantages-platform .platform {
	    height: auto;
	}

	.third-page  #monetization .documetns-title{
		font-size: 30px;
	}

	.third-page #monetization .documetns-title {
	    font-size: 22px;
	}

	.benefits-subscribe .benefits-wrapper-image .benefits-image {
	    width: 200px;
	}

	.pgwSlider {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.monetization .subscribe{
	    padding-top: 0;
	    padding-bottom: 0;
	    margin-top: -100px;
	}

	.second-page-body  .ico-structure{
		margin-top: -50px;
		padding: 25px;
	}


}