
@media (max-width: 1600px){
	.intro .countdown-sep {
	    margin-right: 35px;
	    margin-left: 50px;
	}

	.invested-bg {
	    position: absolute;
		top: -180px;
	    z-index: 1;
	    width: 100%;
	}
}

@media (max-width: 1366px){
	.menu ul li {
	    display: inline-block;
	    padding: 60px 15px;
	    color: white;
	    font-size: 24px;
	}

	.intro .countdown-sep {
	    font-size: 102px;
	    font-weight: 300;
	    margin-right: 20px;
	    margin-left: 40px;
	    color: #FE8C1A;
	}

	.intro-header {
	    font-size: 60px;
	}

	.mission-list {
	    margin-top: 20px;
	    margin-right: 40px;
	    font-size: 23px;
	    width: auto;
	    float: none;
	}

	.mission-list ul {
	    width: auto;
	}

	.right-block {
	    margin-top: 250px;
	}
}

@media (max-width: 1200px){
	.menu ul li {
	    display: inline-block;
	    padding: 60px 10px;
	    color: white;
	    font-size: 20px;
	}

	.countdown-block span {
	    text-align: center;
	}

	.intro .countdown-block-main, .intro .countdown-sep {
	    font-size: 90px;
	}

	.intro .countdown-sep {
	    margin-right: 10px;
	    margin-left: 20px;
	}

	.intro-header {
	    font-size: 60px;
	}

	.inner-intro {
	    text-align: center;
	}

	.intro-header{
		white-space: normal;
		font-size: 55px;
		line-height: 70px;
	}

	.inner-intro {
	    width: 50%;
	}

	.intro .countdown-center {
	    margin-left: 0px;
	    margin-top: 40px;
	}

	.invested-bg {
		top: -80px;
	}

	.intro-bg {
	    height: 820px;
	}

	.our-mission-title {
	    padding-left: 0;
	}

	.mission-list li {
	    font-size: 20px;
	}

	.right-block {
	    margin-top: 150px;
	}

}

@media (max-width: 991px){
	.menu ul li {
	    display: inline-block;
    	padding: 40px 10px;
	    color: white;
	    font-size: 24px;
	}

	.menu ul {
    	flex-direction: column;
    	text-align: center;
	}

	.menu li:first-child {
    	padding-left: 0;
	}

	.menu li.item-five,
	.menu li.item-six,
	.menu li.item-seven,
	.menu li.item-eight
	 {
    	padding-right: 0;
    	padding-left: 0;
	}

	.menu{
		height: 100vh;
	}

	.inner-intro {
	    width: 60%;
	}

	.invested-bg {
		top: -70px;
	}

	.invested-item-value-2,
	.invested-item-name-2,
	.invested-item-name,
	.invested-item-value{
	    font-size: 30px;
	    padding-right: 20px;
	}

	.invested-bg {
	    height: 145%;
	}

	.platform-title,.our-mission-title{
	    width: 700px;
	    font-size: 40px;
	}

	.platform {
	     padding-top: 20px; 
	}

	.inner-platform.two {
	    padding-top: 200px;
	}

	.mission-list li {
	    font-size: 20px;
	}

	.our-mission-title {
	    color: #212f4f;
	}

	.platform-bg {
	    top: -520px;
	}

	.advantages-bg {
	    top: -240px;
    	height: 3500px;
	}

	.advantages-investors-content ul li {
	    font-size: 20px;
	}

	.mission-list li {
	    font-size: 18px;
	}

	.advantages {
	    padding: 10px 0 0 0;
	}

	.right-block {
	    margin-top: 250px;
	}
}

@media (max-width: 800px){
	.inner-intro {
	    width: 80%;
	}

	.invested-item-name {
	    padding-left: 20px;
	    font-size: 30px;
	}

	.invested-item-value {
	    font-size: 30px;
	}

	.invested-item-in,.invested-item-in-2 {
	    justify-content: center;
	}

	.total-invested .invested-item:nth-child(odd){
	    margin-left: 10%;
	}

	.total-invested .invested-item-2:nth-child(even){
	    margin-right: 10%;
	}

	.invested-item-value-2, .invested-item-name-2, .invested-item-name, .invested-item-value {
    	padding-right: 20px;
	    padding-left: 0px;
	}

	.invested-item img {
	    padding-left: 20px;
	}

	.invested-item,.invested-item-2{
	    height: 80px;
	}

	.invested-bg {
	    height: 131%;
	}

	.switch-btn {
	    width: 80%;
	}

	.platform-title,.our-mission-title{
	    width: 600px;
	    font-size: 30px;
	}

	.inner-platform.two .row{
		flex-wrap: wrap;
	}

	.mission-list {
	    margin-right: 0;
	    text-align: center;
	}

	.mission-list ul {
	    margin-right: 0;
	}

	.mission-list li {
	    text-shadow: 2px 2px 2px black;
	}

	.inner-platform.two {
	    padding-top: 50px;
	}

	.our-mission-title:after {
	    border-top: 3px solid #303d5b;
	}

	.platform-bg {
	    top: -520px;
	}

	.advantages-bg {
	    top: -240px;
    	height: 4100px;
	}


}


@media (max-width: 600px){
	.intro-bg {
	    height: 800px;
	}

	.intro .countdown-block-main, .intro .countdown-sep {
	    font-size: 40px;
	}

	.intro .countdown-sep {
	    margin-right: 0;
	    margin-left: 0;
	}

	.inner-intro {
	    width: 90%;
	}

	.platform-title,.our-mission-title{
	    width: 400px;
	    font-size: 26px;
	}

	.platform-bg {
	    top: -450px;
		height: 2900px;
	}

	.platform-bg {
	    top: -640px;
	}

	.advantages-investors-title {
	    display: table;
	    white-space: nowrap;
	    color: #212F4F;
	    text-align: left;
	    font-size: 25px;
	    font-weight: bold;
	    margin-bottom: 40px;
	    margin-right: 20px;
	}

	.advantages-investors-content ul li {
	    font-size: 18px;
	}

	.wrapper-advantages-investors {
	    padding: 0px 20px;
	}



}

@media (max-width: 480px){



	.inner-intro {
	    width: 90%;
	}

	.countdown-block{
		width: 50px;
	}

	.countdown-block .countdown-block-main{
		width: 50px;
	}

	.intro-header {
	    font-size: 40px;
	}

	.intro-sub-header {
	    font-size: 30px;
	}

	.intro .countdown-span {
	    font-size: 16px;
	    color: #FE8C1A;
	    margin-top: 0px;
	}

	.buy-tokens{
		font-size: 20px;
	}

	.fone-hide{
		display: none;
	}

	.total-invested .invested-item:nth-child(odd) {
	    margin-left: 0%;
	}

	.total-invested .invested-item:nth-child(even) {
	    margin-right: 0%;
	}

	.invested-item img,.invested-item-2 img {
	    width: 120px;
	}

	.invested-item-value-2, .invested-item-name-2, .invested-item-name, .invested-item-value {
    	font-size: 20px;
    	padding-right: 10px;
	}

	.switch-btn {
	    width: 90%;
	}

	.switch-btn .btn {
	    width: 120px;
	    font-size: 20px;
	}

	.switch-btn .hard {
	    padding: 15px 20px;
	}

	.platform-title,.our-mission-title{
	    width: 300px;
	    font-size: 24px;
	    line-height: 50px;
	    white-space: normal;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.platform-title:before,.platform-title:after {
	    top: 45px;
	}

	.inner-platform .row {
    	display: flex;
	    flex-wrap: wrap;
	}

	.accordion .panel-default {
	    margin-right: 50px;
	}

	.accordion .panel-title-child:active, .accordion .panel-title-child:link {
	    font-size: 18px;
	}

	.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
	    font-size: 18px;
	}

	.platform-bg {
	    height: 3600px;
	}

	.platform {
	    height: 2725px;
	}

	.advantages-bg {
	    height: 4760px;
	}

	.advantages-investors-title{
		white-space: normal;
	}

	.advantages-users-content {
		padding: 0;
	}

	.advantages-investors-content ul li {
	    color: white;
	    text-shadow: 2px 2px 2px black;
	}

	.advantages-investors-content {
	    padding: 0 20% 0 40px;
	}

	.advantages-users-content ul li {
	    color: white;
	    text-shadow: 2px 2px 2px black;
	}

	.wrapper-title-advantages-users {
	    float: none;
	}

	.advantages-users-title {
	    font-size: 20px;
	    text-shadow: 2px 2px 2px black;
	}

	.advantages-users-title:before {
	    left: -10px;
	}

}