@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

/* Basic styles*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: white;
    vertical-align: baseline;
    font-family: "Roboto";
}

textarea:focus, input:focus, button {
    outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.no-pad {
    padding: 0 !important;
}

.no-marg {
    margin: 0 !important;
}

/* Basic styles*/

/* Header styles*/

.header-ico {
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 5;
}

/* Header styles*/

/* Intro styles*/

.intro {
    position: relative;
}

.inner-intro {
    position: relative;
    z-index: 2;
    text-align: left;
    padding-top: 120px;
    width: 48%;
    margin: 0 auto;

}

.intro-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
}

.intro-header {
    font-size: 70px;
    white-space: nowrap;
    margin-bottom: 40px;
}

.intro-sub-header {
    margin-left: 20px;
    color: #FE8C1A;
    font-weight: 300;
    font-size: 40px;
}

.intro .countdown-center {
    margin-left: 30px;
    margin-top: 40px;
}

.intro .countdown-block-main, .intro .countdown-sep {
    font-size: 102px;
    font-weight: 300;
}

.intro .countdown-span {
    font-size: 18px;
    color: #FE8C1A;
    margin-top: 20px;
}

.intro .countdown-sep {
    font-size: 102px;
    font-weight: 300;
    margin-right: 50px;
    margin-left: 70px;
    color: #FE8C1A;
}

.buy-tokens {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;

    background: #FBFBFB;
    background-image: -webkit-linear-gradient(top, #FBFBFB, #E1E1E1);
    background-image: -moz-linear-gradient(top, #FBFBFB, #E1E1E1);
    background-image: -ms-linear-gradient(top, #FBFBFB, #E1E1E1);
    background-image: -o-linear-gradient(top, #FBFBFB, #E1E1E1);
    background-image: linear-gradient(to bottom, #FBFBFB, #E1E1E1);

    color: #C80A0A;
    border-radius: 28px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 23px;
}

.buy-tokens:hover {
    color: #FBFBFB;
    background: #C80A0A;
    background-image: -webkit-linear-gradient(top, #E16060, #C80A0A);
    background-image: -moz-linear-gradient(top, #E16060, #C80A0A);
    background-image: -ms-linear-gradient(top, #E16060, #C80A0A);
    background-image: -o-linear-gradient(top, #E16060, #C80A0A);
    background-image: linear-gradient(to bottom, #E16060, #C80A0A);
    text-decoration: none;
}

/* Intro styles*/

/* Platform styles*/

.inner-platform .image {
    text-align: right;
}

.inner-platform .image img {
    width: 90%;
}

.inner-platform.two {
    padding-top: 220px;
}

/* Platform styles*/

/*Tokens style */
.demand-tokens {
    position: relative;
    margin-top: 0;
    background: #212f4f;

}

.tokens-bg {
    position: absolute;
    top: -350px;
    z-index: 2;
    right: 0;
    height: 700px;
}

/*Tokens style */

/*Documents style */

.documents-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

/*Documents style */

.token-bg {
    position: absolute;
    top: -200px;
    z-index: 1;
    width: 100%;
    background: #212f4f;
    height: 2171px;
}

.token-trader {
    position: relative;
    height: 1950px;
}

.ico-structure {
    position: relative;
    background: #1a2435;
    height: 1400px;
}

.monetization {
    position: relative;
}

.monetization-bg {
    position: absolute;
    top: -270px;
    z-index: 1;
    width: 100%;
    height: 3100px;
}

.monetization .subscribe {
    background: transparent;
    position: relative;
    z-index: 2;
}

.inner-ico{
    position: relative;
    z-index: 2; 
}

.inner-ico h5{
    color: #1A2435;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.inner-ico  .row{
    padding-top: 50px;
}

.ico-structure-text{
    font-size: 30px;
    color: #1A2435;
    padding-right: 180px;
}

.ico-structure-bg {
    position: absolute;
    top: -260px;
    z-index: 1;
    width: 100%;
    height: 120%;
}

.monetization{
}

.ico-structure-description{
    padding-top: 100px;
}

.inner-ico.first .ico-structure-text p{
    font-size: 30px;
    color: #1A2435;
    padding-top: 10px;
}

.second-block .ico-structure-text{
    padding-top: 100px;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding-left: 180px;
}

.second-block .ico-structure-text p{
    padding-top: 10px;
}

.inner-ico.second .row{
    padding-top: 100px;
}

.total-invested {
    position: relative;
}

.documetns-title {
    width: 700px;
    margin: 100px auto;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: table;
    white-space: nowrap;
    color: #212F4F;
    letter-spacing: 10px;
}

.documetns-title:before {
    border-top: 3px solid #212F4F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: -20px;
}

.documetns-title:after {
    border-top: 3px solid #212F4F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: 20px;
}

.invested-item {
    background: #0D121D;
}

.total-invested .invested-item:nth-child(even) {
    text-align: right;
    margin-right: 20%;
}

.total-invested .invested-item:nth-child(odd) {
    text-align: left;
    margin-left: 20%;
}

.invested-bg {
    position: absolute;
	top: -190px;
    z-index: 1;
    width: 100%;
}

.platform {
    position: relative;
    margin-top: 100px;
    padding-top: 150px;
    height: 2170px;
}

.platform-bg {
    position: absolute;
    top: -355px;
    z-index: 0;
    width: 100%;
    height: 2855px;
}

.advantages-bg {
    position: absolute;
    top: 10px;
    z-index: -1;
    width: 100%;
    height: 2900px;
}

.advantages {
    position: relative;
    height: auto;
}

.inner-platform {
    position: relative;
    z-index: 2;
}

.inner-trader{
	position: relative;
    z-index: 2;
    top: 0;
}

.inner-trader .platform-title{
	color: white;
	margin: 40px auto 200px auto;
}



.inner-invested, .inner-advantages, .inner-documents, .inner-team, .inner-road {
    position: relative;
    z-index: 2; 
}


.inner-invested{
    padding-top: 80px;
}

.platform-title {
    width: 900px;
    margin: 40px auto 50px auto;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: table;
    white-space: nowrap;
    color: #212F4F;
    letter-spacing: 10px;
}

.platform-title:before {
    border-top: 3px solid #212F4F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: -20px;
}

.platform-title:after {
    border-top: 3px solid #212F4F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: 20px;
}

.acordeon-platform {
    padding-top: 100px;
}

.acordeon-platform .item {
    background: #0D121D;
    padding: 20px;
    margin-top: 20px;
}

ul li {
    color: #0D121D;
    list-style-type: disc;
    font-size: 25px;
}

.advantages-bg {
    background: #212F4F;
}

.right-block {
    text-align: right;
    margin-top: 350px;
}

.right-block ul li {
    color: white;
}

.right-block .platform-title {
    color: white;
}

.inner-tokens {
    position: relative;
    z-index: 3;
}

.inner-tokens .image {
    background: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}

.graph-image {
    text-align: center;
    background: #212F4F;
    padding-bottom: 50px;
    margin-top: 80px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.documents {
    position: relative;
    padding-top: 250px;
    height: 1800px;
}

.documents-bg {
    background: #212f4f;
}

/*paper-block start*/
.paper-block {
    height: auto;
    width: 40%;
    background: white;
    color: #212f4f;
    margin: 0 auto;
    text-align: center;
	margin-bottom: 280px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}

.paper-block .image {
    padding: 40px 0 30px;
}

.paper-block .white-papper {
    font-size: 55px;
    font-weight: 400;
    color: #212F4F;
    text-transform: uppercase;
    padding-bottom: 100px;
}

.paper-block .download-t {
    font-size: 35px;
    font-weight: 300;
    color: #212F4F;
    padding-bottom: 30px;
}

.paper-block span {
    font-size: 27px;
    font-weight: 500;
    color: #C80A0A;
    padding-bottom: 0;
}

.paper-block .download {
    display: flex;
    justify-content: center;
}

.download a:hover {
    text-decoration: none;
}

.paper-block .download-eng {
    border-right: 1px solid #212F4F;
    padding-right: 90px;
    margin-right: 90px;
    display: flex;
    align-items: center;
}

.paper-block .download-rus {
    display: flex;
    align-items: center;
}

.paper-block img {
    padding-right: 10px;
}

.paper-block p {
    font-size: 18px;
    font-weight: 300;
    color: #212F4F;;
}

.paper-block .copyright {
    padding: 0 15px 25px;
    position: relative;
    bottom: 0;
    padding-top: 50px;
}



/*paper-block end*/
#documents {
    padding: 0 40px;

}

.inner-documents image {
    background: #212f4f;
    text-align: center;
}

.inner-documents .item-body {
    text-align: center;
    background: #172239;
    height: 360px;
    padding: 60px 65px 80px 65px;
    border: 1px solid #95989A;
}

.inner-documents .item-body h4 {
    height: 60px;
    font-size: 29px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* intro section */
.countdown-center {
    text-align: center !important;
    margin: 0 auto;
    display: inline-block;
}

.banner-countdown {
    color: #fff;
    width: 565px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.countdown-left {
    height: 60px;
    float: left;
    line-height: 60px;
    color: #fff;
    margin-top: 25px;
}

.countdown-left h3 {
    font-size: 30px;
}

.countdown-center {
    text-align: center;
    margin-top: 20px;
}

.countdown-block {
    width: 80px;
    float: left;
}

.countdown-span {
    color: #FE8C1A;
    text-align: center
}

.countdown-sep {
    width: 20px;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #FE8C1A;
    text-align: center;
}

.countdown-block-main {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
    color: white;
    background-size: contain;
}

.countdown-block span {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #fff;
    margin-top: 3px;
}

/* intro section */

/* total invested */
.total-invested {
    position: relative;
}

.invested-item {
    margin-top: 20px;
    height: 120px;
    border-radius: 60px 0 0 60px;
    display: flex;
    justify-content: space-between;

    background: rgba(13,18,29,1);
	background: -moz-linear-gradient(left, rgba(13,18,29,1) 0%, rgba(33,47,79,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(13,18,29,1)), color-stop(100%, rgba(33,47,79,1)));
	background: -webkit-linear-gradient(left, rgba(13,18,29,1) 0%, rgba(33,47,79,1) 100%);
	background: -o-linear-gradient(left, rgba(13,18,29,1) 0%, rgba(33,47,79,1) 100%);
	background: -ms-linear-gradient(left, rgba(13,18,29,1) 0%, rgba(33,47,79,1) 100%);
	background: linear-gradient(to right, rgba(13,18,29,1) 0%, rgba(33,47,79,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d121d', endColorstr='#212f4f', GradientType=1 );

	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}

.invested-item-2 {
    margin-top: 20px;
    height: 120px;
    background: #0D121D;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: space-between;
}

.invested-item img {
    padding-left: 55px;
}

.invested-item-in {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invested-item-in-2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invested-item-name {
    font-size: 35px;
    padding-left: 80px;
}

.invested-item-name-2 {
    font-size: 35px;
    padding-right: 80px;
}

.invested-item-name-3 {
    font-size: 35px;
    padding-left: 80px;
    margin-left: -105%;
}

.invested-item-value {
    font-size: 35px;
    font-weight: 300;
    color: #FE8C1A;
    padding-right: 120px;
}

.invested-item-value-2 {
    font-size: 35px;
    font-weight: 300;
    color: #FE8C1A;
    padding-left: 120px;
}

.total-invested .invested-item:nth-child(even) {
    text-align: right;
    margin-right: 20%;
}

.total-invested .invested-item-2:nth-child(even) {
    text-align: right;
    margin-right: 20%;
}

.total-invested .invested-item:nth-child(odd) {
    text-align: left;
    margin-left: 20%;
}

.invested-bg {
    position: absolute;
    top: -200px;
    left: 0;
    z-index: 1;
    width: 100%;
	height: 175%;
}

.switch-btn {
    height: 50px;
	width: 60%;
	background-size: 100%;
	background-repeat: no-repeat;
    border-radius: 25px;
    margin: 30px auto;
}

.inner-switch{
	background-image: url("../images/loading.png");
	height: 50px;
	width: 100%;
	border-radius: 25px;
}

.switch-btn .btn {
    height: 46px;
    width: 190px;
    background: linear-gradient(to left, #212F4F, #0D121D);
    border-radius: 25px;
    float: left;
    margin: 2px;
}


.switch-btn .soft {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    padding: 3px;
}

.switch-btn .hard {
    display: flex;
    float: right;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 40px;
    color: #0D121D;
}

/* total invested end */

/* buy and sell platform */
/*------------------------------------------------------------------
  	[Accordion]
------------------------------------------------------------------*/
.panel-title span {
    color: #FE8C1A;
    border-bottom: 1px solid #FE8C1A;
    display: inline-block;
    padding-bottom: 3px;
}

.accordion .panel-default {
    border: none;
    margin-left: 50px;
    margin-top: 0;
}

.accordion .panel-heading {
    border-radius: 0;
}

.accordion .panel-default > .panel-heading {
    color: #ffffff;
    background: #212F4F;
    border: none;
    padding: 0;
}

.panel-title-child {
    color: white;
}

.panel-title-child:hover, .panel-title-child::selection, .panel-title-child:visited {
    color: #FE8C1A;
}

.accordion .panel-title {
    font-size: 22px;
}

.accordion .panel-title-child {
    display: block;
    padding: 30px;
    text-decoration: navajowhite;
}

.accordion .panel-title-child:active,
.accordion .panel-title-child:link {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #FE8C1A;
}

.accordion .panel-group .panel + .panel {
    border-radius: 0;
    margin-top: 10px;
}

.accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 20px;
    font-weight: 300;
    border-top: none;
    padding: 0 30px 30px 30px;
    margin-top: -1px;
    line-height: 26px;
    text-align: center;
}

.accordion [aria-expanded="true"],
.accordion .collapse.in {
    color: #fff;
    background: #212F4F;
    border-radius: 0 0 10px 10px;
}

/* buy and sell platform end */

/* our mission */
.blue {
    color: #212F4F;
}

.our-mission-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: table;
    white-space: nowrap;
    color: #FBFBFB;
    margin: 60px auto;
    letter-spacing: 10px;
    padding-left: 50px;
    line-height: 66px;
}

.our-mission-title:before {
    border-top: 3px solid #212F4F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: -20px;
}

.our-mission-title:after {
    border-top: 3px solid #FBFBFB;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: 20px;
}

.mission-list {
    margin-top: 20px;
    margin-right: 40px;
    font-size: 23px;
    width: 620px;
    float: right;
}
.mission-list-2 {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 22px;
    width: 620px;
    float: right;
    line-height: 29px;
}

.mission-list ul {
    width: 620px;
    /*margin-right: 50px;*/
}

.mission-list li {
    padding: 5px 10px;
    font-size: 23px;
    color: #FBFBFB;
    line-height: 30px;
    list-style-type: none;
}

.mission-list li span{
	display: inline-block;
	padding-right: 20px;
	color: #FE8C1A;
}



.inner-platform .row {
    display: flex;
    align-items: center;
}

.inner-platform .image {
    margin-top: 5%;
    /*padding-right: 180px;*/
}

/* our mission end */

/* advantages investors section */
.advantages {
    padding: 140px 0 0 0;
}

.wrapper-advantages-investors {
    padding: 0 60px;
}

.advantages-investors-title {
    display: table;
    white-space: nowrap;
    color: #212F4F;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.advantages-investors-title:after {
    border-top: 3px solid #212F4F;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 160px;
    left: 20px;
}

.advantages-investors-content {
    margin-top: 32px;
    padding: 0 20% 0 30px;
}

.advantages-investors-content ul {
    width: 100%;
    line-height: 30px;
}

.advantages-investors-content ul li {
    padding: 10px;
    font-size: 23px;
    list-style-type: none;
}

.advantages-investors-content ul li span{
    display: inline-block;
    padding-right: 20px;
    color: #FE8C1A;
}

.advantages-users-content ul li{
	list-style-type: none;
}

.advantages-users-content ul li span{
    display: inline-block;
    padding-right: 20px;
    color: #FE8C1A;
}


/* advantages investors section end */

/* advantages investors section */
.wrapper-advantages-investors {
    padding: 0 60px;
}

.wrapper-title-advantages-users {
    float: right;
}

.advantages-users-title {
    margin: 60px 0;
    display: table;
    white-space: nowrap;
    color: #FBFBFB;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.advantages-users-title:before {
    border-top: 3px solid #FBFBFB;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 160px;
    left: -20px;
}

.advantages-users-content {
    margin-top: 32px;
    padding: 0 0 0 35%;
}

.advantages-users-content ul {
    width: 100%;
}

.advantages-users-content ul li {
    padding: 10px;
    font-size: 23px;
}

/* advantages investors section end */
/* create demand tokens start*/
.demand-tokens-box {
    padding: 0 50px;
}

.demand-tokens-box .image {
    height: 300px;
    padding: 35px 0;
}

.demand-tokens-box img {
    height: 150px;
    width: 150px;
}

.demand-tokens-box p {
    font-size: 23px;
    font-weight: 600;
    padding: 20px 35px 0;
    color: #172239;
}

/* create demand tokens end*/
.subscribe-field input {
    width: 100%;
    color: #1A2435;
    display: inline-block;
    padding: 30px;
    border-radius: 40px;
    font-size: 26px;
}

.subscribe-button {
    width: 100%;
    display: inline-block;
    padding: 33px;
    background: #1A2435;
    color: #FE8C1A;
    border: 2px solid #FE8C1A;
    border-radius: 40px;
    text-align: center;
    font-size: 26px;
}

.subscribe {
    background: #212f4f;
}

.subscribe-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: table;
    white-space: nowrap;
    color: #FBFBFB;
    margin: 40px auto;
    letter-spacing: 10px;
}

.subscribe-title:before {
    border-top: 3px solid #FBFBFB;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: -20px;
}

.subscribe-title:after {
    border-top: 3px solid #FBFBFB;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 200px;
    left: 20px;
}

.subscribe h4 {
    font-size: 23px;
    color: #FFFFFF;
    line-height: 34px;
    padding-bottom: 30px;
}

.inner-subscribe {
}


.monetization .inner-subscribe {

}

.monetization .subscribe-title {
    margin: 30px auto;
}


h2 {
    white-space: nowrap;
    color: #212F4F;
    font-size: 30px;
}

.subscribe h2 {
    color: white;
    text-align: center;
}

.our-team h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.our-team h4 {
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
    color: #1a2435;
    text-align: center;
    padding: 20px 120px 40px;
}

.subscribe {
    background: #212f4f;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 260px;
    padding-left: 10%;
    padding-right: 10%;
}

.team-bg {
    position: absolute;
    top: -200px;
    z-index: 1;
    width: 100%;
}

.our-team {
    position: relative;
}

.advisors {
    padding-top: 200px;
    background: #212f4f;
}

.advisors h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 40px;
}

.road-map {
    background: #212f4f;
    position: relative;
}

.footer-bg {
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.inner-road {
    padding-bottom: 400px;
    text-align: center;
}

.intro {
    height: 100vh;
}

.total-invested {
    height: 800px;
}

/*team start*/
.team-image {
    padding: 30px 15px;
}

.team-image img:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.team-image img {
    width: 100%;
}

/*team end*/
.menu {
    position: absolute;
    width: 100%;
    right: 0;
    background: #172239;
}

.menu ul li {
    display: inline-block;
    padding: 60px 25px;
    color: white;
}

.menu ul {
    display: flex;
}

.header-ico:hover {
    cursor: pointer;
}

.hiden {
    display: none;
}

.graph-image img {
    width: 100%;
}

.header-ico {
    width: 50px;
    height: 30px;
}

.ico-bg {
    width: 250px;
    height: 150px;
    position: absolute;
}

.ico-one {
    margin: 50px 30px;
    width: 35px;
    height: 35px;
}
.ico-two {
    margin: 55px 30px;
    width: 35px;
    height: 35px;
}

.hider {
    display: none;
}

.menu li:first-child {
    padding-left: 50px;
}

.menu li.item-six {
    padding-left: 50px;
    border-left: 2px solid #FE8C1A;
}

.menu li.item-five {
    padding-right: 50px;
}

.menu li.item-six, .menu li.item-seven, .menu li.item-eight {
    color: #FE8C1A;
}

.menu li.item-six a, .menu li.item-seven a, .menu li.item-eight a {
    color: #FE8C1A;
}

.menu li.item-six a:hover, .menu li.item-seven a:hover, .menu li.item-eight a:hover {
    text-decoration: none;
}

@keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 0 /* анимируем свойство background-position */
    }
}
/* Mozilla Firefox 5.0+ */
@-moz-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 0
    }
}
/* Safari 4.0+, Chrome 4.0+ */
@-webkit-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 0
    }
}
/* Opera 12.0+ */
@-o-keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 0
    }
}
/* не нужно использовать префикс -ms, так как свойства keyframes и animation поддерживаются с версии IE10 без префикса */
.inner-switch{
	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
 	-o-animation: animatedBackground 10s linear infinite;
	/* так же, как и с @keyframes, префикс -ms тут ни к чему */
}

   ul {
    list-style-image: url(images/book.png); /* Путь к изображению маркера */
   }

.demand-title{
	color: white;
	letter-spacing: 0;
	margin-top: 100px;
}

.inner-tokens .platform-title:before,.inner-tokens .platform-title:after{
	border-top: 3px solid #ffffff;
}


.components{
	position: relative;
	padding-bottom: 200px;
}

.components-bg{
    top: -350px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.advantages-platform{
	position: relative;
	z-index: 2;
    height: 2000px;
}

.advantage-platform-bg{
    top: -351px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 3240px;
    background: #212f4f;
}

.advantages-platform .advantages-investors-title{
	color: white;
}

.benefits-subscribe{
	position: relative;
	z-index: 2;
    background: #212f4f;
}

.benefits-subscribe-bg{
	bottom: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.inner-platform.subscribe{
	background: transparent;
}

.total-invested.second-page{
	height: 950px;
}

.monetization-title.platform-title{
    color: white;
    padding-top: 50px;
    padding-bottom: 85px;
}

.monetization .inner-platform.second{
    background: #212F4F;
    z-index: 1;
    padding-top: 350px;
    padding-bottom: 505px;
    top: -250px;
}

.monetization .advantages-list li{
    color: white;
    font-size: 22px;
    padding-top: 10px;
}

.monetization .advantages-list ul{
    padding-bottom: 60px;
}

.monetization .subscribe{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -200px;
}

.inner-ico.first{
    top: -150px;
}

.ico-structure-image {
    width: 400px;
}
/* monetization third page */
#monetization{
    padding: 0 70px;
}

#monetization .item-body{
    height:270px;
    margin-bottom: 24px;
    padding: 20px 0 10px 0;
    background: linear-gradient(180deg , #496CB5, #25365B);
    box-shadow: 4px 4px 20px black;
    border: none;
}
#monetization .item-body .image{
    width:100%;
    height:150px;
    margin-bottom: 30px;
}
/* monetization third page end */

/* benefits third page */
.benefits-wrapper-image{
    width:100%;
    text-align: center !important;
}

.benefits-subscribe .benefits-wrapper-image .benefits-image{
    width:350px;
    margin: 0 auto;
}

.benefits-subscribe-list{
    text-align: right;
}
/* benefits third page end */
/*components of the b&s start*/
.ipad-2 {
    float: left;
    margin-left: -15px;
}
/*components of the b&s end*/
/*PROBLEMS AND SOLUTIONS start*/
.iphone {
    float: right;
    margin-right: -15px;
}

/*PROBLEMS AND SOLUTIONS end*/

.image-table-advantages{
    width: 100%;
}

.buy-platform .inner-trader .platform-title {
    margin: 0 auto;
    padding-top: 380px;
    padding-bottom: 50px;
    color: #212f4f;
}

.pgwSlider{
    padding-left: 50px;
    padding-right: 50px;
}

.buy-platform{
    height: 1400px;
    top: -200px;
    background: #F3F3F3;
    position: relative;
}

.components .inner-platform.first {
    padding-top: 0;
    margin-top: -300px;
}

.components .our-mission-title {
    padding-top: 100px;
}

.components .image .ipad-2{
    width: 800px;
}

.components .mission-list {
    float: left;
    padding-left: 50px;
}

.components .mission-list li {
    padding-top: 20px;
}

.components .inner-platform.two {
    padding-top: 0;

}

.components .inner-platform {
    padding-top: 0;
    z-index: 3;
}

.inner-bg{
    position: relative;
}

.components-bg{
    background: #212F4F;
}

.components .inner-platform .image{
    padding-right: 0;
}

.advantages-platform .platform{
    margin-top: 0;
    padding-top: 0;

}

.advantages-platform .inner-platform.two{
    padding-top: 0;
        top: -200px;
}

.advantages-platform .right-block {
    margin-top: 0;
}

.advantages-platform .advantages-users-title{
    color: #212F4F;
}

.advantages-platform .advantages-users-content ul li{
   color: #212F4F; 
}

.advantages-platform .top-block.inner-platform {
    top: -150px;
}

.advantages-platform .top-block.inner-platform .image{
    padding-right: 0;
}

.advantages-platform .top-block.inner-platform .image img{
    width: 100%;
}

#monetization .documetns-title {
    width: 100%;
    /*padding-left: 200px;*/
    color: white;
    white-space: normal;
}

.benefits-subscribe form{
    width: 100%;
}


.benefits-subscribe .subscribe{
    padding-bottom: 150px;
}

.benefits-subscribe .inner-platform .image{
    padding-right: 0;
}

.benefits-subscribe .mission-list ul{
    text-align: left;
}

.benefits-subscribe .our-mission-title {
    color: white;
    white-space: normal;
}

.subscribe {
    background: #212f4f;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 40px;
}

.inner-documents .item-body:hover{
    position: relative;
    top: -20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}

.inner-documents .row.second{
    margin-top: 40px!important;
}

.modal-dialog{
    width: 50%;
    float: right;
    margin: 0;
    height: 100%;
    
}

.modal-content{
   border-radius: 0; 
   height: 100%;
    background-image: url(../images/bio4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#myModal{
    padding-right: 0!important;
}

.modal-text{
        padding: 0 40px;
        font-size: 20px;
        color: white;
}

.modal-title{
    text-align: center;
    color: white;
}

.modal-header {
    border-bottom: none;
}

.top-image{
    position: relative;
    z-index: 2;
    padding-top: 15px;
}

.top-image img{
    width: 700px;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.language-block a{
    font-size: 20px;
    padding-left: 35px;
    text-decoration: none;
}

.language-block a:hover,.language-block a:visited{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.language-block{
    position: absolute;
    top: 43%;
    transform: rotate(270deg);
    left: -50px;

}

.social-block{
    position: absolute;
    top: 7%;
    display: flex;  
    align-items: center;  
    right: 0;
    cursor: pointer;
    z-index: 1;
    height: 668px;
}

.social-block .left-part{
    height: 368px;
    background: red;
    width: 50px;
    border-radius: 158px 0 0 158px;

    background: rgba(254,140,26,1);
    background: -moz-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,140,26,1)), color-stop(50%, rgba(137,75,73,1)), color-stop(100%, rgba(19,9,119,1)));
    background: -webkit-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: -o-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: linear-gradient(to right, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8c1a', endColorstr='#130977', GradientType=1 );
    }


.social-block .left-part p{
    font-size: 20px;
    transform: rotate(270deg);
    white-space: nowrap;
    letter-spacing: 5px;
    position: relative;
    top: 225px;
}    

.social-block .right-part{
    height: 668px;
    background: darkred;
    width: 150px;

    background: rgba(254,140,26,1);
    background: -moz-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,140,26,1)), color-stop(50%, rgba(137,75,73,1)), color-stop(100%, rgba(19,9,119,1)));
    background: -webkit-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: -o-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    background: linear-gradient(to right, rgba(254,140,26,1) 0%, rgba(137,75,73,1) 50%, rgba(19,9,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8c1a', endColorstr='#130977', GradientType=1 );
}

.social-block.open{
    right: 0;
}

.hide{
    display: none;
}

.social-items{
    display: flex;
    flex-direction: column;
    padding: 60px 40px;  
}

.social-items .item{
    height: 70px;
    width: 70px;
    margin-top: 25px;
}